@page "/transports/create"
@using Microsoft.EntityFrameworkCore
@using TravelItineraryWebsite.Domain
@inject IDbContextFactory<TravelItineraryWebsite.Data.TravelItineraryWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Transport</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Transport" OnValidSubmit="AddTransport" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="transportname" class="form-label">TransportName:</label> 
                <InputText id="transportname" @bind-Value="Transport.TransportName" class="form-control" /> 
                <ValidationMessage For="() => Transport.TransportName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="transportduration" class="form-label">TransportDuration:</label> 
                <InputText id="transportduration" @bind-Value="Transport.TransportDuration" class="form-control" /> 
                <ValidationMessage For="() => Transport.TransportDuration" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="transportdeparturetime" class="form-label">TransportDepartureTime:</label> 
                <InputDate id="transportdeparturetime" @bind-Value="Transport.TransportDepartureTime" class="form-control" /> 
                <ValidationMessage For="() => Transport.TransportDepartureTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="transportarrivaltime" class="form-label">TransportArrivalTime:</label> 
                <InputDate id="transportarrivaltime" @bind-Value="Transport.TransportArrivalTime" class="form-control" /> 
                <ValidationMessage For="() => Transport.TransportArrivalTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="itinerarydetailid" class="form-label">ItineraryDetailId:</label> 
                <InputNumber id="itinerarydetailid" @bind-Value="Transport.ItineraryDetailId" class="form-control" /> 
                <ValidationMessage For="() => Transport.ItineraryDetailId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Transport.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Transport.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Transport.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Transport.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Transport.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Transport.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Transport.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Transport.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/transports">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Transport Transport { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddTransport()
    {
        using var context = DbFactory.CreateDbContext();
        context.Transport.Add(Transport);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/transports");
    }
}
