@inherits LayoutComponentBase
@layout ItineraryLayout

<PageTitle>Itinerary</PageTitle>

<div class="rz-m-12">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/create" Text="Create" />
        <RadzenBreadCrumbItem Path="/itineraries" Text="Itineraries" />
        <RadzenBreadCrumbItem Icon="add" Text="Add" />
    </RadzenBreadCrumb>
</div>