@page "/itinerarydetails/create"
@using Microsoft.EntityFrameworkCore
@using TravelItineraryWebsite.Domain
@inject IDbContextFactory<TravelItineraryWebsite.Data.TravelItineraryWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>ItineraryDetail</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ItineraryDetail" OnValidSubmit="AddItineraryDetail" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="startdate" class="form-label">StartDate:</label> 
                <InputDate id="startdate" @bind-Value="ItineraryDetail.StartDate" class="form-control" /> 
                <ValidationMessage For="() => ItineraryDetail.StartDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="enddate" class="form-label">EndDate:</label> 
                <InputDate id="enddate" @bind-Value="ItineraryDetail.EndDate" class="form-control" /> 
                <ValidationMessage For="() => ItineraryDetail.EndDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="ItineraryDetail.Description" class="form-control" /> 
                <ValidationMessage For="() => ItineraryDetail.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="itineraryid" class="form-label">ItineraryId:</label> 
                <InputNumber id="itineraryid" @bind-Value="ItineraryDetail.ItineraryId" class="form-control" /> 
                <ValidationMessage For="() => ItineraryDetail.ItineraryId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/itinerarydetails">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private ItineraryDetail ItineraryDetail { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddItineraryDetail()
    {
        using var context = DbFactory.CreateDbContext();
        context.ItineraryDetail.Add(ItineraryDetail);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/itinerarydetails");
    }
}
