@page "/itinerarydetails/edit"
@using Microsoft.EntityFrameworkCore
@using TravelItineraryWebsite.Domain
@inject IDbContextFactory<TravelItineraryWebsite.Data.TravelItineraryWebsiteContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>ItineraryDetail</h2>
<hr />
@if (ItineraryDetail is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ItineraryDetail" OnValidSubmit="UpdateItineraryDetail" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ItineraryDetail.ItineraryDetailId" value="@ItineraryDetail.ItineraryDetailId" />
                <div class="mb-3">
                    <label for="startdate" class="form-label">StartDate:</label>
                    <InputDate id="startdate" @bind-Value="ItineraryDetail.StartDate" class="form-control" />
                    <ValidationMessage For="() => ItineraryDetail.StartDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="enddate" class="form-label">EndDate:</label>
                    <InputDate id="enddate" @bind-Value="ItineraryDetail.EndDate" class="form-control" />
                    <ValidationMessage For="() => ItineraryDetail.EndDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="ItineraryDetail.Description" class="form-control" />
                    <ValidationMessage For="() => ItineraryDetail.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="itineraryid" class="form-label">ItineraryId:</label>
                    <InputNumber id="itineraryid" @bind-Value="ItineraryDetail.ItineraryId" class="form-control" />
                    <ValidationMessage For="() => ItineraryDetail.ItineraryId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/itinerarydetails">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int ItineraryDetailId { get; set; }

    [SupplyParameterFromForm]
    private ItineraryDetail? ItineraryDetail { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ItineraryDetail ??= await context.ItineraryDetail.FirstOrDefaultAsync(m => m.ItineraryDetailId == ItineraryDetailId);

        if (ItineraryDetail is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateItineraryDetail()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ItineraryDetail!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ItineraryDetailExists(ItineraryDetail!.ItineraryDetailId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/itinerarydetails");
    }

    private bool ItineraryDetailExists(int itinerarydetailid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.ItineraryDetail.Any(e => e.ItineraryDetailId == itinerarydetailid);
    }
}
