@page "/itinerarydetails"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TravelItineraryWebsite.Domain
@using TravelItineraryWebsite.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TravelItineraryWebsite.Data.TravelItineraryWebsiteContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="itinerarydetails/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ItineraryDetail">
    <PropertyColumn Property="itinerarydetail => itinerarydetail.StartDate" />
    <PropertyColumn Property="itinerarydetail => itinerarydetail.EndDate" />
    <PropertyColumn Property="itinerarydetail => itinerarydetail.Description" />
    <PropertyColumn Property="itinerarydetail => itinerarydetail.ItineraryId" />

    <TemplateColumn Context="itinerarydetail">
        <a href="@($"itinerarydetails/edit?itinerarydetailid={itinerarydetail.ItineraryDetailId}")">Edit</a> |
        <a href="@($"itinerarydetails/details?itinerarydetailid={itinerarydetail.ItineraryDetailId}")">Details</a> |
        <a href="@($"itinerarydetails/delete?itinerarydetailid={itinerarydetail.ItineraryDetailId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TravelItineraryWebsiteContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
